.nav{
    background-color: #232f3e;
    color: #fff;
    padding: 2px 4px;
}
.navItens{
    padding: 2px 40px;
    justify-content: space-around;
    text-decoration: none;
    text-align: center;
}

.navItens:hover{
    border: 1px solid #fff;
}
